body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h5 {
  color: white;
  text-decoration: underline;
}

.card {
  background: #231e1e;
  border-color: black;
  color: gray;
  padding: 1rem;
  min-height: 16rem;
  position: relative;
}

.jumbotron {
  padding:100px 0 130px 0;
}

.navbar-right {
    margin-right: 0;
}

.btn-toolbar {
  display: inline-block;
}​

a {
    cursor: pointer;
}

.navbar {
  margin:0;
}

.dropdown-form {
  padding: 17px;
  width: 300px;
}

/*.animate-slide {
  animation: 0.5s slideInLeft;
}

.animate-slide.ng-hide {
  animation: 0.5s slideOutLeft;
}
*/