/*.animate-slide {
  animation: 0.5s slideInLeft;
}

.animate-slide.ng-hide {
  animation: 0.5s slideOutLeft;
}
*/

.jumbotron {
  padding:100px 0 130px 0;
}

.navbar-right {
    margin-right: 0;
}

.btn-toolbar {
  display: inline-block;
}​

a {
    cursor: pointer;
}

.navbar {
  margin:0;
}

.dropdown-form {
  padding: 17px;
  width: 300px;
}

/* Card Styles */

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 4rem;
}

header {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  margin-bottom: 1.618rem;
}

header.navbar {
  border-radius: 0;
}

h1 {
  font-weight: bold;
  letter-spacing: -2px;
  max-width: 100px;
}

h1:after, .card h6:after {
  content: "™";
  font-size: 1rem;
  vertical-align: super;
  margin-left: 0.192rem;
}

.card {
  background: #231e1e;
  border-color: black;
  color: white;
  padding: 1rem;
  min-height: 16rem;
  position: relative;
}

.card h6 {
  position: absolute;
  font-size: 0.6rem;
  margin-top: 1.618rem;
  opacity: 0.2;
  bottom: 0.618rem;
  left: 1rem;
}

.card h6:after {
  font-size: 60%;
  margin-left: 1px;
}

.row {
  margin: 0;
}

footer {
  text-align: center;
  margin-top: 2rem;
  color: silver;
  font-size: 0.6rem;
}

footer .heart {
  color:#cf2e31;
}