<div class="container">
  <div class="row">

<!--     <div class="col-sm-3"><br/>
      <h4>{{user.first}} {{user.last}}</h4>
    </div> -->

    <div class="col-sm-9">

      <div class="page-header">
        <h4>Tabs</h4>
      </div>
      
      <!-- Form to Create New Tab -->
      <form ng-submit="createTab()">
        <div class="form-group">
          <label for="openFor">Open Tab For:</label>
          <input class="form-control" type="text" ng-model="tab.openFor" placeholder="Enter User Email">
        </div>
        <button type="submit">Open</button>
      </form>

      <!-- Show TABS as Cards -->
      <section class="container-fluid">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4" ng-repeat="tab in tabs">
            <h4 class="card">{{tab.openFor.email}}</h4>
            <button ng-click="deleteTab(tab)">Delete</button>
            <button data-toggle="modal" data-target="#transaction-modal">Add Transaction</button>
            <!-- Transactions Modal -->
            <div id="transaction-modal" role="dialog" class="modal fade" ng-controller="TransactionsCtrl">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-body">
                    <!-- Form to Create New Transaction -->
                    <form ng-submit="createTransaction(tab)">
                      <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="text" ng-model="transaction.description" class="form-control"/>
                      </div>
                      <div class="form-group">
                        <label for="amount">Amount:</label>
                        <input type="number" ng-model="transaction.amount" class="form-control"/>
                      </div>
                      <button type="submit">Add</button>
                    </form>
                    <!-- End Form -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Model -->
        </div>
      </section>

    </div>

  </div>
</div> 

<!-- <ul ng-click="toggleTransactions()" ng-controller="TransactionsController">
  <li ng-repeat="transaction in tab.transactions">
    {{transaction}}
  </li>
</ul> -->