<div class="container">
  <div class="row">

    <div class="col-sm-3"><br/>
      <h4>{{user.first}} {{user.last}}</h4>
    </div>

    <div class="col-sm-9">
      <div class="page-header">
        <h4>Tabs</h4>
      </div>
      
      <form ng-submit="createTab()">
        <div class="form-group">
          <label for="openFor">Open Tab For:</label>
          <input class="form-control" type="text" ng-model="tab.openFor">
        </div>
        <button type="submit">Save</button>
      </form>

      <section class="container-fluid">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4" ng-repeat="tab in user.tabs" >
            <h4 class="card">{{tab.openFor}}</h4>
          </div>
        </div>
      </section>

    </div>

  </div>
</div> 